.code-line .titulo_capa {
  font-family: Chicle;
  font-size: 2.0em;
  color: rgb(13, 35, 75);
  letter-spacing: 0.5rem;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.table-of-contents ul li {
  list-style-type:none
}

@media print {
  h1, .page { 
    page-break-before: always;
  }
  h3, h4 {
    page-break-after: avoid;
  }
  pre, blockquote {
    page-break-inside: avoid;
  }
}

body {
  font-size: 20px !important;
  font-family: "Noticia Text", "Lato", "Times New Roman", Times, serif   !important;
  text-align: justify;
  color: black;
  letter-spacing: -0.03rem;
}

code {
  font-family: monospace !important;
  font-size: 18px !important;
  color: #000;
  font-weight: bold;
}

.code-line img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.admonition>.admonition-title {
  padding: .5rem 1.2rem .5rem 3.4rem !important;
}

/* Verso Aureo */
.admonition.quote .code-line {
  font-family: "Cormorant Upright";
  font-size: 27px;
  margin-top: 15px;
}

/* Notas */
.admonition.note .code-line {
  font-family: "Farsan";
  font-size: 27px;
  margin-top: 15px;
}
/* Decisão do final da lição */
.admonition.example .code-line {
  font-family: "Cormorant Upright";
  font-size: 27px;
  font-weight: bold;
  margin-top: 15px;
}

.code-line {
  line-height: 27px;
}

/*
  font-family: "Bilbo";
  font-size: 35px;

  font-family: "Calligraffitti";
  font-size: 27px;

  font-family: "Charm";
  font-size: 27px;

  font-family: "Cookie";
  font-size: 33px;

  font-family: "Cormorant Upright";
  font-size: 27px;
  line-height: 30px;
*/
.verso, .versoQ {
  font-family: "Farsan";
  font-size: 28px;
  line-height: 30px;
  color: #005cc5;
}
.questao {
  font-family: "Oregano";
  font-size: 28px;
  font-weight: bold;
  color: black
}

.livro, .livroQ, .livroVerso {
  font-family: "Charm", "Calligraffitti", "Alike";
  font-size: 21px;
  color: #d73a49;
}

h1, h2, h3 {
  text-align: center;
}

h1 {
  font-family: "Julee", 'Cantora One';
  font-size: 2.05em;
  color: rgb(13, 35, 75);
  text-shadow: 4px 4px 4px #aaa;
}

h2 {
  font-family: "Aref Ruqaa", "FrutigerSerifLTPro-HvyCnIt";
  font-size: 1.95em;
  color: rgb(4, 78, 40);
  border-bottom: black;
  line-height: 44px;
  margin: 0 0 12px;
  text-align: center;
  text-shadow: 4px 4px 4px #aaa;
  font-weight: bolder;
}
h3 {
  font-family: "Mafra Condensed Headline Bd It";
  font-size: 1.65em;
  color: rgb(13, 35, 75);
}

ol.alpha {
  list-style-type: lower-alpha;
}

@page {
  @bottom-right {
    content: counter(page) " de " counter(pages);
  }
}

/* Para ocultar */
.livroQ { display: none1; }
.versoQ, .livroVerso, .questao ~ br { display: none1; }

blockquote {
  background: #f7f8fa;
  border-left: 4px solid #34de82;
  border-bottom: 1px solid #ddddde;
  font-size: 1em;
  text-decoration: none;
}


.table-of-contents {
  font-family: "Charm";
  font-size: 28px;
}


.vscode-body h1 {
  font-size: 1.7em;
}
.vscode-body h2 {
  font-size: 1.4em;
}

.vscode-body h3 {
  font-size: 1.2em;
}



/*

Google Fonts - no Linux use o app "Type Catcher" para instalar

- Alegreya
- Alex Brush
- Allura
- Architects Daughter
- Arizonia
- Average
- Balthazar
- basic
- belle fair
- Bree Serif
- Caladea *
- Charm *
- Cookie *
- Courgette
- Crimson Pro
- Dancing Script
- David Libre
- Farsan *
- Gabriela
- Great Vibes
- Gupter
- Inika
- Italianno *
- Julee
- Kalam
- katibeh
- Kavivanar
- Lato
- Lekton
- Libre Baskerville
- Linden Hill
- Literata
- Lobster Two
- Marck Script
- Markazi Text
- Mate *
- Merienda
- Merienda One
- Merryweather
- Neucha
- Neuton *
- Niconne
- Noticia Text
- Noto Serif *
- Noto Serif KR
- Overlock
- Ovo
- Pt Serif
- Paprika
- parisiense
- patrick hand
- petrona *
- pinyon script
- playball
- Poly
- Pompiere
- Port Lligat Slab
- Prociono
- Quando
- Quintessential
- Rasa
- Sacramento
- Salsa
- Satisfy *
- Seaweed Script
- Simonetta
- Slabo 27px
- Song Myung
- Special Elite (maquina de escrever)
- Tangerine
- Tillana

*/